[submodule "upstream/astra_description"]
	path = upstream/astra_description
	url = https://github.com/trail-club/astra_description.git
[submodule "upstream/AstraFirmwares"]
	path = upstream/AstraFirmwares
	url = https://github.com/trail-club/AstraFirmwares.git
[submodule "upstream/Astra_Hardwares"]
	path = upstream/Astra_Hardwares
	url = https://github.com/trail-club/Astra_Hardwares.git
[submodule "upstream/astra_controller"]
	path = upstream/astra_controller
	url = https://github.com/trail-club/astra_controller.git
[submodule "upstream/astra_controller_interfaces"]
	path = upstream/astra_controller_interfaces
	url = https://github.com/trail-club/astra_controller_interfaces.git
[submodule "upstream/astra_moveit_config"]
	path = upstream/astra_moveit_config
	url = https://github.com/trail-club/astra_moveit_config.git
[submodule "upstream/sobits_gazebo_worlds"]
	path = upstream/sobits_gazebo_worlds
	url = https://github.com/TeamSOBITS/sobits_gazebo_worlds.git
[submodule "upstream/tmc_wrs_gz"]
	path = upstream/tmc_wrs_gz
	url = https://github.com/TeamSOBITS/tmc_wrs_gz.git
[submodule "upstream/sam3"]
	path = upstream/sam3
	url = https://github.com/facebookresearch/sam3.git
