<?xml version="1.0"?>
<window>
  <width>1300</width>
  <height>600</height>
</window>
<plugin filename="ImageDisplay">
  <gz-gui><title>Head RGB</title></gz-gui>
  <topic_picker>false</topic_picker>
  <topic>/head_camera/image</topic>
</plugin>
<plugin filename="ImageDisplay">
  <gz-gui><title>Left wrist RGB</title></gz-gui>
  <topic_picker>false</topic_picker>
  <topic>/left_wrist_camera/image</topic>
</plugin>
<plugin filename="ImageDisplay">
  <gz-gui><title>Right wrist RGB</title></gz-gui>
  <topic_picker>false</topic_picker>
  <topic>/right_wrist_camera/image</topic>
</plugin>
